
@font-face {
  font-family: Plakat;
  src: url(plakat.otf);
}

@font-face {
  font-family: Gtpressuratrial Regular;
  src: url(gt-Pressura-Mono-Regular.otf);
}

body {
  background-image: linear-gradient(to bottom, #FFF 0%, #AFFFD1 50%, #FFC0DF 100%); 
}

section {
  margin-bottom: 10px;
}

.container,
.smallcontainer { 
  max-width:  960px;
  margin: auto auto 80px auto;
  display:  flex;
  flex-wrap: wrap; 
}  

header {
  font-family: Plakat;
  width:  100%;
  padding:  60px;
  font-size: 18px;
  text-transform: uppercase;
  z-index:  99;
}

.name {
  position:  fixed;
  top:  15px;
  left:  15px;
}

.work {
  position:  fixed;
  top:  30px;
  right:  15px;
  transform: rotate(90deg);
}

.info {
  position:  fixed;
  bottom:  30px;
  left:  15px;
  transform: rotate(-90deg);
}

a {
  color: #000;
  text-decoration:  none;
}

a:hover {
  color:  #ff00cc;
}

.highlighted a {
  color:  #ff00cc;
}

.video-responsive {
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  padding-bottom:56.25%;
  position: relative;
  height:0;
  margin-bottom:  50px;
}

.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position: absolute;
}

.thumb {
  width:  50%;
  position:  relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity:  1;
  transition:  all 0.5s ease;
  text-align: center;
}

.smallthumb {
  width:  33%;
  position:  relative;
  opacity:  1;
  transition:  all 0.5s ease; 
  text-align: center;
}

.smallthumb:hover img,
.thumb:hover img {
  opacity:  0.1;
}

h2 {
  font-family: Plakat;
  position:  absolute;
  font-size: 20px;
  color:  #000000;
  opacity:  0;
  transition: all 0.5s ease;
  text-align: center;
}

.smallcontainer h2 {
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.smallthumb:hover h2,
.thumb:hover h2 {
  opacity: 1;  
}    

.title {
  font-size: 22px;
  margin-bottom: 20px;
  font-family: Plakat;
  width: 100%;
  text-transform: uppercase;
  text-align: justify;
}

.copy,
.content {
  font-family: Gtpressuratrial Regular;
  color:  #000;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: nowrap;
}

.portrait {
  margin-bottom: 80px;
}

.content {
  font-weight: 100;
  line-height:  1.5;
}

.role {
  flex-grow: 2;
  min-width: 25%;
}

.content p {
  margin-right: 30px;
  text-align: justify;
}

.role li {
  padding: 5px;
}

.details .uppercase,
.copy-list .uppercase {
  text-transform: none;
}

.details li,
.copy-list li {
  line-height:  1.5;
  text-transform: lowercase; 
  width:  500px;
}

.copy ul {
  margin-bottom: 60px;
}

.workimg {
  max-width: 800px;
  margin: auto;
  text-align: center;  
}

@media (min-width: 1500px) {
  .video-responsive {
    margin-bottom: 150px;
  }
}

@media (max-width: 1270px) {
  .name {
    transform: rotate(-90deg);
    top: 75px;
    left: -30px;
  }   
}

@media (max-width: 1190px) {

  .smallcontainer,
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 800px) {

  .copy,
  .content {
    display:  inline-block;
    margin: 35px 0 35px 0;
  }

  .copy {
    max-width: 600px;
  }

  .workimg {
    max-width: 600px;
  }

  .container {
    margin-left: 90px;
  }

  .video-responsive {
    margin-bottom:  20px;
  }

  header {
    padding: 30px;
  }

  .thumb {
    width: 100%;
  }

  .copy li,
  .role {
    display: block;
  }

  .role li {
    padding:  0;
    margin: 20px 40px 0 0;
  }
}

@media (max-width: 418px) {

  header {
    font-size: 18px;
  }

  .smallthumb {
    width: 100%;
  }

  .content,
  .title,
  h2 {
    font-size: 14px;
  }

  body {
    margin-bottom: 40px;
  }

  .smallcontainer,
  .container {
    margin: 0 65px;
  }

  .title {
    margin-bottom: 0;
  }

  .content p {
    margin-right: 0;
  }

  .details,
  .copy-list li {
    max-width: 250px;
    font-size:  14px;
    line-height:  1.5;
    padding: 0;
    margin-bottom:  0;
  }

  .copy ul {
    margin-bottom: 0;
  }

  .workimg:nth-last-child(n) {
    margin-bottom: 20px;
  }

  .details {
    margin-top:  20px;
  }

  .portrait {
    margin-bottom: 20px;
  }

}

@media (max-width: 320px) {

  header {
    font-size: 14px;
  }

  .workimg {
    width: 220px;
  }

  .container {
    max-width: 220px;
  }

  .copy-list li {
    max-width: 200px;
    margin: 0 10px;
  }
}